<section class="info">
  <div class="container">
    <h1 class="main-title">Цифровий Пазл</h1>
    <p class="info-txt">
      Чи любите ви пазли? Давайте складемо з вами цифровий пазл, де елементами
      з'єднання будуть перші або останні ДВІ цифри.
    </p>
    <p class="info-txt">
      Наприклад, маємо такі рядки із числами:
      <span>608017, 248460, 962282, 994725, 177092</span>
    </p>

    <p class="info-txt">Рішення: 24846080177092</p>
    <p class="info-txt">
      Аналізуючи кінцеві частини, можна скласти такий ланцюжок:
    </p>
    <p class="info-txt">248460 & 608017 & 177092 -> 2484(60)80(17)7092</p>
    <p class="info-txt">
      Таким чином найбільша послідовність і відповідь буде:
    </p>
    <p class="info-result">- 24846080177092 -</p>
    <img
      src="./assets/images/puzzle-img.jpg"
      alt="puzzles image as example"
      width="300"
      height="195"
      class="info-img"
    />
    <div class="divider"></div>
  </div>
</section>
