<section class="info">
  <div class="container">
    <h1>Цифровий Пазл</h1>
    <p>
      Чи любите ви пазли? Давайте складемо з вами цифровий пазл, де елементами
      з'єднання будуть перші або останні ДВІ цифри.
    </p>
    <p>
      Наприклад, маємо такі рядки із числами:
      <span>608017, 248460, 962282, 994725, 177092</span>
    </p>

    <p>Рішення: 24846080177092</p>
    <p>Аналізуючи кінцеві частини, можна скласти такий ланцюжок:</p>
    <p>248460 & 608017 & 177092 -> 2484(60)80(17)7092</p>
    <p>Таким чином найбільша послідовність і відповідь буде:</p>
    <p>24846080177092</p>
    <div class="divider"></div>
  </div>
</section>
