<section class="puzzle">
  <div class="container">
    <p class="puzzle-txt">
      Спробуйте! Завантажте текстовий файл, що містить лише цілі числа,
      розділені пробілами, комами або переносом на новий рядок:
    </p>

    <div class="file-input-wrapper">
      <label for="fileInput" class="file-label">Виберіть файл</label>
      <input type="file" id="fileInput" accept=".txt" class="file-input" />
    </div>
    <div class="puzzle-result" id="result"></div>
    <div class="puzzle-result" id="result2"></div>
    <div class="puzzle-result" id="result3"></div>
  </div>
</section>
