@use '../utils/mixins' as utilsMixins;

.switch input {
  display: none;
}

.flex-wrapper-precision {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 0;
}
.precision-item {
  flex-basis: calc((100% - 64px) / 2);
}

.switch {
  display: inline-block;
  width: 40px; /*=w*/
  height: 20px; /*=h*/
  margin: 4px;
  transform: translateY(15%);
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 1px var(--main-text-cl), 0 0 2px var(--main-text-cl);
  cursor: pointer;
  border: 3px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--main-text-cl);
  border-radius: 30px;
  transform: translateX(-20px); /*translateX(-(w-h))*/
  transition: 0.2s;
}

input:checked + .slider:before {
  transform: translateX(20px); /*translateX(w-h)*/
  background-color: var(--main-text-cl);
}
