@use '../utils/mixins' as utilsMixins;

.header-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-logo {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-right: 43px;
}

.header-item {
  // display: none;
  display: block;
  text-decoration: none;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);

  @include utilsMixins.mq(desktop) {
    display: block;
    text-decoration: none;

    &:first-child {
      margin-right: 60px;
    }

    @include utilsMixins.fonts(
      $fw: 400,
      $fs: 18px,
      $lh: 1.333,
      $color: var(--dark-bg-cl)
    );
  }
}

.flex-wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--disabled-btn-cl);

  @include utilsMixins.mq(desktop) {
    align-items: baseline;
  }
}

.input {
  padding-left: 65px;
  border: 1px solid var(--main-text-cl);
  border-radius: 0 var(--b-radius) var(--b-radius) 0;
  outline: transparent;
  background-color: transparent;

  &::placeholder {
    position: absolute;
    left: 8px;
    top: 22%;
    text-align: start;
    color: #5f6775;
    opacity: 0.4;
  }

  @include utilsMixins.fonts(
    $fw: 400,
    $fs: 14px,
    $lh: 1.333,
    $color: var(--gray-text-cl)
  );
}

.header-txt {
  @include utilsMixins.fonts(
    $fw: 400,
    $fs: 24px,
    $lh: 1.333,
    $color: var(--main-text-cl)
  );
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
