@use '../utils/mixins' as utilsMixins;

.info {
  @include utilsMixins.fonts(
    $fw: 600,
    $fs: 22px,
    $lh: calc(42px / 22px),
    $color: var(--black-text-cl)
  );

  @include utilsMixins.mq(tablet) {
    @include utilsMixins.fonts(
      $fw: 700,
      $fs: 32px,
      $lh: calc(42px / 32px),
      $color: var(--black-text-cl)
    );
  }

  @include utilsMixins.mq(desktop) {
    @include utilsMixins.fonts(
      $fw: 700,
      $fs: 48px,
      $lh: calc(72px / 48px),
      $color: var(--black-text-cl)
    );
  }
}

.main-title {
  margin-bottom: 20px;
  @include utilsMixins.fonts(
    $fw: 500,
    $fs: 48px,
    $lh: calc(72px / 48px),
    $color: var(--black-text-cl)
  );
}

.info-txt {
  @include utilsMixins.fonts(
    $fw: 400,
    $fs: 18px,
    $lh: calc(72px / 48px),
    $color: var(--black-text-cl)
  );
  margin-bottom: 8px;
}

.info-result {
  @include utilsMixins.fonts(
    $fw: 600,
    $fs: 24px,
    $lh: calc(72px / 48px),
    $color: var(--black-text-cl)
  );
  margin-bottom: 8px;
}

.hero-img {
  width: 200px;
  margin-bottom: 12px;

  @include utilsMixins.mq(tablet) {
    width: 250px;
    margin-bottom: 0;
  }

  @include utilsMixins.mq(desktop) {
    width: 300px;
  }
}

.divider {
  margin: 20px 0;
}

.divider:after {
  background: var(--default-btn-cl) none repeat scroll 0 0;
  content: '';
  display: block;
  height: 2px;
  max-width: 100%;
  padding: 0;
}
