@use '../utils/mixins' as utilsMixins;

.puzzle-txt {
  @include utilsMixins.fonts(
    $fw: 400,
    $fs: 18px,
    $lh: calc(72px / 48px),
    $color: var(--black-text-cl)
  );
  margin-bottom: 16px;
}

.puzzle-result {
  word-break: break-word;
  @include utilsMixins.fonts(
    $fw: 600,
    $fs: 24px,
    $lh: calc(72px / 48px),
    $color: var(--black-text-cl)
  );
  margin-bottom: 8px;
}

.puzzle-info {
  word-break: break-word;
  @include utilsMixins.fonts(
    $fw: 600,
    $fs: 16px,
    $lh: calc(72px / 48px),
    $color: var(--black-text-cl)
  );
  margin: 8px auto;
  font-style: italic;
}

.file-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.file-input-wrapper {
  display: inline-block;
  position: relative;
}

.file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--default-btn-cl);
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  @include utilsMixins.fonts(
    $fw: 400,
    $fs: 18px,
    $lh: calc(72px / 48px),
    $color: var(--light-text-cl)
  );
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.file-label:hover {
  background-color: var(--hover-btn-cl);
}

.file-input:focus + .file-label {
  outline: 2px solid var(--hover-btn-cl);
  outline-offset: 2px;
}
